RewriteEngine On
Options -Indexes

# Establecer la base del directorio raíz
RewriteBase /

# Redirigir todo a index.php excepto archivos y carpetas existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
