:root {
    --bs-body-bg: #000000;
    --bs-body-color: #ffffff;
    --color-difuminado: #858585;

}

.toasts-center.fixed{
    position: fixed ;
}
.toasts-center{
    width: 85%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.topbar {
    background-color: #00000028 !important;
    border-bottom: none;
    position: fixed !important;
    width: 100%;
    top: 0;
    transition: all 0.5s ease;

    a {
        color: #ffffff !important;

        &:hover {
            color: #d1d1d1 !important;
            border-bottom: solid 2px #ffffff;
        }
    }

}

.topbar.scrolled {
    background-color: #ffffff !important;
    box-shadow: 1px 1px 20px 1px var(--color-difuminado);

    a {
        color: #000000 !important;

        &:hover {
            color: #3d3d3d !important;
            border-bottom: solid 2px #000000;
        }
    }
}

.p_sidebar {
    position: fixed !important;
}

.item_carusel {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100vh !important;
}



.content-wrapper {
    min-height: unset !important;
    height: auto;

}

.fondo {
    width: 100%;
    height: 93.8vh;
    background-color: #00000077;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }

    a {
        background: #ffffff;
        color: black;
        padding: 20px 30px;
        border-radius: 5px;
        font-size: 1.2rem;
        margin-top: 10px;

        &:hover {
            border: solid 1px #ffffff;
            background: #ffffff00;
            color: #ffffff;

        }
    }

}

.user_data {
    color: aliceblue;
    font-size: 1.5rem;
}

.color {
    background-color: #c94848;
}

.content {
    height: 90vh;
    background-image: src("/public/images/ILLIMANI.JPG");
    background-size: contain;
}


.container-collage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    height: 80vh;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;

    .item {
        height: 100%;
        background-position: contain;
        background-size: cover;
        border-radius: 15px;
        box-shadow: 1px 1px 20px 1px var(--color-difuminado);
        display: flex;
        align-items: end;

        .contenido {
            width: 100%;
            display: flex;
            
            justify-content: space-between;
            color: var(--bs-body-color);
            margin: 0 20px;
        }

    }

    .item-1 {
        grid-row: 1 / 3;
    }

    .item-4 {
        grid-column: 2/4;
    }

}


@media (max-width: 768px) {
    .container-collage {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}